.container {
  max-width: 900px;
  padding: 30px;
  margin: 0 auto;
}

.nome-titulos {
  text-align: center;
  font-size: 20px;
  margin-bottom: 16px;
  color: rgb(105, 104, 104);
}

.oponente {
  text-align: center;
  width: 50%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 5px 50px;
  box-sizing: border-box;
  font-size: 24px;
}

.borda-barra-vida{
  border: 1px solid grey;
  width: 100%;
  position: relative;
}

.barra-texto {
  color: white;
  z-index: 2;
  position: relative;
  text-shadow: 1px 1px 2px #4e4e4e;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 5px;
}

.barra-vida {
  background-color: #00b400;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  &.media {
    background-color: yellow;
  }
  &.baixa {
    background-color: red;
  }
}

.wrapper {
  display: flex;
  margin-bottom: 24px;
}

.botao {
  text-align: center;
  width: 50%;
  vertical-align: top;
  margin: 0 24px;
  padding: 5px 5px;
  box-sizing: border-box;
  font-size: 18px;
  color: white;
  border: 1px solid grey;
  font-weight: bold;
  cursor: pointer;
  // transition: opacity 0.2s;

  &.azul {
    background-color: #002ab4;
  }

  &.vermelho {
    background-color: #b40000;
  }
  &.vermelho-claro {
    background-color: rgb(216, 124, 124);
  }

  &.verde {
    background-color: #00b400;
  }

  &.roxo {
    background-color: #a600b4;
  }

  // &:hover {
  //   opacity: 0.8;
  // }
}

.acao-log {
  width: 100%;
  vertical-align: top;
  font-weight: bold;
  margin-top: 8px;
  padding: 5px 5px;
  box-sizing: border-box;
  font-size: 18px;
  color: white;
  border: 1px solid grey;

  &.azul-claro {
    background-color: #6275b5;
  }

  &.vermelho-claro {
    background-color: #d87c7c;
  }

  &.verde-claro {
    background-color: #62b56c;
  }

  &.amarelo-claro {
    background-color: #b4b469;
  }

  &.jogador{
    text-align: left;
    padding-left: 40px;
  }

  &.inimigo{
    text-align: right;
    padding-right: 40px;
  }
}

.tela-fundo-fim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  color: white;
  z-index: 3;
  display:flex;
  justify-content:center;
  align-items:center;
}

.tela-fim {
  text-align: center;

  &.frase{
    font-size: 24px;
    margin-bottom: 18px;
  }

  &.inserir-nome {
    font-size: 18px;
    width: 100%;
    padding: 8px 12px;
    margin-bottom: 5px;
  }

  &.botao-inserir {
    font-size: 18px;
    width: 40%;
    padding: 5px 12px;
    box-sizing: border-box;
    color: white;
    &.inativo{
      border: 1px solid #7dc57e;
      background-color: #7dc57e;
    }
    &.ativo{
      border: 1px solid #369c38;
      background-color: #369c38;
    }
  }
}
