<section class="container">

  <div class="wrapper">
    <div class="oponente">
      <div class="nome-titulos">{{jogador.nome}}</div>
      <div class="borda-barra-vida">
        <span class="barra-texto">{{(jogador.vida / 100) | percent}}</span>
        <div [ngClass]="{'barra-vida': true, 'media': jogador.vida < 50 && jogador.vida >= 20, 'baixa': jogador.vida < 20}" [ngStyle]="{'width':jogador.vida + '%'}"></div>
      </div>
    </div>
    <div class="oponente">
      <div class="nome-titulos">{{monstro.nome}}</div>
      <div class="borda-barra-vida">
        <span class="barra-texto">{{(monstro.vida / 100) | percent}}</span>
        <div [ngClass]="{'barra-vida': true, 'media': monstro.vida < 50 && monstro.vida >= 20, 'baixa': monstro.vida < 20}" [ngStyle]="{'width': monstro.vida + '%'}"></div>
      </div>
    </div>
  </div>

  <div class="nome-titulos">Comandos</div>
  <div class="wrapper">
    <button class="botao azul" type="button" (click)="botaoAtaque()">Ataque</button>
    <button [ngClass]="{'botao': true, 'vermelho': atkEspCarregando() == false, 'vermelho-claro': atkEspCarregando()}"
            type="button" (click)="botaoAtaqueEspecial()" [disabled]="atkEspCarregando()">Ataque Especial</button>
    <button class="botao verde" type="button" (click)="botaoCura()">Curar</button>
    <button class="botao roxo" type="button" (click)="botaoDesistir()">Desistir</button>
  </div>

  <div class="tela-fundo-fim" *ngIf="jogoEmAndamento == false">
    <div class="tela-fim">
        <p class="tela-fim frase">{{nomeVencedor}} venceu! Sua pontuação foi {{score}}.</p>
      <div>
        <input class="tela-fim inserir-nome" type="text" [(ngModel)]="playerName" name="playerName" placeholder="Digite um nome...">
        <button [ngClass]="{'tela-fim botao-inserir': true, 'inativo': nomeInvalido() , 'ativo': !nomeInvalido()}"
                type="submit" (click)="registraRanking()" [disabled]="nomeInvalido()">Inserir no ranking</button>
      </div>
    </div>
  </div>

  <div class="nome-titulos">Log</div>
  <div *ngIf="log?.length > 0; else logVazio">
    <div *ngFor="let linha of log">
      <div [ngClass]="buscaCorLog(linha)">{{linha.texto}}</div>
    </div>
  </div>

  <ng-template #logVazio></ng-template>

</section>
