.container {
  max-width: 600px;
  padding: 30px;
  margin: 0 auto;
}

.bloco-texto{
  margin-bottom: 20px;
}

.subtitulo{
  text-align: left;
  font-size: 18px;
  margin-bottom: 5px;
}

.bloco-topico{
  margin-bottom: 8px;
}

.topico{
  font-size: 16px;
}

.subtopico{
  text-align: justify;
  margin-left: 23px;
}

.paragrafo {
  font-size: 16px;
  text-align: justify;
  margin-bottom: 5px;
}

.botao {
  background-color: #369c38;
  color: white;
  flex: 1;
  border: 50px;
  border-radius: 4px;
  font-size: 16px;
  padding: 0.5em;
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}
