<div>
  <button class="botao" (click)="botaoHome()">Voltar</button>
</div>
<section class="container">
  <h1 class="titulo">Regras do jogo</h1>
  <div class="bloco-texto">
    <h2 class="subtitulo">Geral</h2>
    <li class="paragrafo">O jogo ocorrerá em turnos, sendo cada turno uma interação do jogador e uma interação do inimigo.
    <li class="paragrafo">O jogador e o inimigo tem a mesma quantidade de pontos de vida (100).</li>
    <li class="paragrafo">O jogador tem 4 botões de interação disponíveis.</li>
  </div>

  <div class="bloco-texto">
    <h2 class="subtitulo">Ações</h2>
    <div class="bloco-topico">
      <p class="topico">1. Ataque Básico</p>
      <li class="subtopico">O jogador causa um dano no inimigo (5-10 de dano). </li>
    </div>
    <div class="bloco-topico">
      <p class="topico">2. Ataque Especial</p>
      <li class="subtopico">O jogador causa um dano no inimigo (10-20 de dano).</li>
      <li class="subtopico">Ao usar o ataque especial o inimigo tem 50% de chance de ficar atordoado não atacar no próximo turno.</li>
      <li class="subtopico">O ataque especial necessita de no mínimo 2 turnos após utilização para recarregar.</li>
    </div>
    <div class="bloco-topico">
      <p class="topico">3. Curar</p>
      <li class="subtopico"> O jogador receberá um aumento nos seus pontos de vida (5-15 pontos de vida).</li>
    </div>
    <div class="bloco-topico">
      <p class="topico">4. Desistir</p>
      <li class="subtopico">O jogo termina e volta para a tela de inicio do jogo</li>
    </div>
  </div>
  <div class="bloco-texto">
    <h2 class="subtitulo">Objetivo</h2>
    <li class="paragrafo">Reduzir os pontos de vida do inimigo a zero.
  </div>

</section>
