<section class="container">
  <h2 class="titulo">Projeto Jogo</h2>
  <div class="botao-wrapper">
    <button class="botao" type="button" (click)="botaoIniciarJogo()">Iniciar Jogo</button>
  </div>
  <div class="botao-wrapper">
    <button class="botao" type="button" (click)="botaoRegrasJogo()">Regras</button>
  </div>
  <div class="botao-wrapper">
    <button class="botao" type="button" (click)="botaoRanking()">Ranking</button>
  </div>
</section>
