.container {
  max-width: 400px;
  padding: 64px;
  margin: 0 auto;
}

.botao-wrapper {
  display: flex;
}

.botao {
  background-color: #369c38;
  color: white;
  flex: 1;
  border: 50px;
  border-radius: 4px;
  font-size: 16px;
  padding: 0.5em;
  cursor: pointer;
  transition: opacity 0.2s;
  margin: 0 0 10px;

  &:hover {
    opacity: 0.8;
  }
}
