<div>
  <button class="botao" (click)="botaoHome()">Voltar</button>
</div>
<section class="container">
  <h2 class="titulo">Ranking</h2>
  <table class="tabela">
    <thead class="tabela__cabecalho">
      <th class="tabela__cabecalho__conteudo">Nome</th>
      <th class="tabela__cabecalho__conteudo">Data</th>
      <th class="tabela__cabecalho__conteudo">Pontuação</th>
    </thead>
    <tbody *ngIf="ranking?.length > 0; else listaVazia" >
      <tr class="tabela__linha" *ngFor="let item of ranking">
        <td class="tabela__conteudo">{{item?.playerName}}</td>
        <td class="tabela__conteudo">{{item?.data | date:'short'}}</td>
        <td class="tabela__conteudo">{{item?.score}}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #listaVazia>
    <p>Nenhum registro</p>
  </ng-template>
</section>
